# This is Git's per-user configuration file.
[user]
	name = acschwartz
	email = 31809318+acschwartz@users.noreply.github.com
	username = acschwartz

[url "ssh://git@github.com/"]
        insteadOf = https://github.com/
[core]
	excludesfile = /Users/annie/.gitignore
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictstyle = zdiff3